# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia
PRIVATE_KEY=0x581df6b3e41cdb2d19008efc1ec8a3b08b59bbe820f59602f5334e9ddf92053d

# API Keys
ETHERSCAN_API_KEY=J8PU7AX1JX3RGEH1SNGZS4628BAH192Y3N

# Frontend Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://sepolia.infura.io/v3/b18fb7e6ca7045ac83c41157ab93f990
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66
VITE_INFURA_API_KEY=b18fb7e6ca7045ac83c41157ab93f990
VITE_CONTRACT_ADDRESS=0xB71c4A340f4924656940aAD34860f30a971Db159

# IPFS Configuration
VITE_PINATA_JWT=your-pinata-jwt-token
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud
